h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: green;
}

#free {
    font-family: "Time New Roman";
    font-size: 14;
    font-weight: bold;
}

#fire {
    font-family: "Time New Roman";
    font-size: 12;
    font-weight: bold;
}

#fire > span {
    background-color: yellow;
}